

<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div class="signup">

    <div>Name: <div></div class='signup-name'><%= f.text_field :name %></div>
    <br>
    <div>Email: <div></div class='signup-email'><%= f.text_field :email %></div>
    <br>
    <div>Password: <div></div><%= f.password_field :password %></div>
    <br>
    <div>Password Confirmation: <div></div><%= f.password_field :password_confirmation %></div>
    <br>
    <div><%= f.submit "Submit" %></div>

  </div>
<% end %>